body {
	background-color: white;
}
h1 a {
	color: #C25100;
}

h2 {
	font-family: Euclid Flex,sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21875;
    color: black;
}

p {
	color: black;
	display: block;
	font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
    margin-bottom: 20px;
}

.info-block .wrapper {
    max-width: 900px;
    text-align: center;
}

.info-block {
	padding: 80px 0;
    background: #2c3242;
}

.info-item h2 {
    font-family: Muli,sans-serif;
    font-weight: 400;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.375;
    color: #35404e;
    font-size: 15px;
    margin: 25px 0 5px;
}

.info-item p {
    margin: 0;
    font-size: 14px;
}

.info-header {
	max-width: 750px;
    margin: 0 auto 40px;
}

.info-navs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item.visible .info-item {
	top: 0;
	opacity: 1;
}

.info-item {
	width: calc(30% - 10px);
    position: relative;
    margin: 10px 0;
    padding: 25px 20px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 0 rgba(19,25,30,.1);
    transition: opacity .3s;
}

.info-item .info-svg {
	width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}

.info-content {

}
