alabaster==0.7.12
appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
astroid==2.4.2
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cssselect2==0.2.2
cycler==0.10.0
distlib==0.3.1
distro==1.4.0
Django==3.0.8
django-admin==2.0.1
django-authtools==1.7.0
django-braces==1.14.0
django-crispy-forms==1.9.2
django-debug-toolbar==2.2
django-environ==0.4.5
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-extensions==3.0.7
django-six==1.0.4
docutils==0.16
easy-thumbnails==2.7
environs==7.3.0
filelock==3.0.12
graphviz==0.14.1
idna==2.10
imagesize==1.2.0
install==1.3.3
isort==4.3.21
Jinja2==2.11.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
marshmallow==3.5.1
matplotlib==3.2.0
mccabe==0.6.1
mysqlclient==2.0.1
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==3.0.9
docutils==0.16
easy-thumbnails==2.7
idna==2.10
imagesize==1.2.0
isort==5.5.3
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.1
packaging==20.4
pandas==1.1.0
parsimonious==0.7.0
pathtools==0.1.2
pdfrw==0.4
Pillow==7.0.0
pydotplus==2.0.2
Pygments==2.6.1
pylint==2.4.4
Pillow==7.2.0
Pygments==2.6.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2020.1
reportlab==3.5.34
requests==2.24.0
rst2pdf==0.97
scipy==1.5.1
screen==1.0.1
seaborn==0.10.1
selenium==3.141.0
six==1.15.0
smartypants==2.0.1
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-js==3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
svglib==0.9.3
tinycss2==1.0.2
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.31
virtualenvwrapper-win==1.2.6
webencodings==0.5.1
wrapt==1.11.2
xlwt==1.3.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
wrapt==1.12.1
alabaster==0.7.12
asgiref==3.2.10
astroid==2.4.2
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
Django==3.0.8
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==3.0.9
docutils==0.16
easy-thumbnails==2.7
elasticsearch==7.9.1
idna==2.10
imagesize==1.2.0
isort==5.5.3
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.1
packaging==20.4
pandas==1.1.0
parsimonious==0.7.0
Pillow==7.2.0
Pygments==2.6.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-js==3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
wrapt==1.12.1
