@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(1vh * 1vh);
}

.App #root {
  padding: 0.1vh;
  margin: 2vh;
  padding: 2vh;
  border: none;
  min-height: 50vh;
  width: auto;
  background-color: darkgray;
  text-align: left;
  font-size: calc(2vh * 1vmin);
  font-weight: lighter;
  color:black;
}

.App-logo {
  pointer-events: none;
  height: 80px;
  float: left;
  margin-left: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-grid {
  position: relative;
  margin-top: 2vh;
  right: unset;
  left: unset;
  right: unset;
  width: auto;
  display: grid;
  gap: 5vh;
  column-gap: 5vh;
  grid-template-rows: repeat(2, [row]50vh);
  grid-template-columns: auto;
}

.grid-item {
  align-items: right;
  justify-content: center;
}

.btn-grid, .App-header-grid, .footer-grid {
  display: grid;
  row-gap: 1vh;
  column-gap: 2vh;
}

.App-header-grid {
  grid-column: 1;
  grid-row: row;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn-grid {
  grid-column: 1;
  grid-row: row 2;
  grid-template-columns: repeat(3, 1fr);
}

.footer-grid {
  grid-template-columns: repeat(3, 1fr);
}

.App-header-box {
  margin: 1vh;
  box-sizing: border-box;
  min-height: 12vh;
  max-height: 20vh;
  background-color: black;
  box-shadow: 0 0 10vh 0 gray;
  border-radius: 4vh;
}

.App-header-text {
  font-size: calc(2vh * 1.3vmin);
  font-weight: bold;
  color: #fff;
}

.nobull {
  list-style-type: none;
}

.footer-text {
  font-size: calc(1vh * 0.8vmin);
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-text a:hover {
  text-decoration: none;
}

.authorMsg {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
}

.footer-contact-banner {
  display: flex;
  font-family: sans-serif;
}

.legal {
  display: flex;
  font-weight: bold;
}

.btnRecipes > img, .btnPantry > img, .btnHealth > img, .btn
 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border-radius: 15%;
  justify-content: center;
  align-content: center;
}

.btn {
  box-shadow: 0 0 5vh 0 gray;
  background: none;
  background-size: cover;
  border: none;
}

.btnRecipes {
  grid-column: 1;
}

.btnPantry {
  grid-column: 2;
}

.btnHealth {
  grid-column: 3;
}