@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

/* Logo  */

.App-logo {
  pointer-events: none;
  height: 80px;
  float: left;
  margin-left: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Section widget header */

.section.hero-widget-header {
  padding: 140px 0 160px 0;
  text-align: center;
  color: black;
  background-position: center;
  height: 300px;
}

.App-header-box {
  background-color: black;
  border-radius: 4vh;
  box-shadow: 0 0 10vh 0 gray;
  box-sizing: border-box;
  margin: 1vh;
  max-height: 100%;
  min-height: 12vh;
}

.App-header-text {
  color: #fff;
  font-weight: bold;
}

/* header hero items (widgets) */

.App-header-hero-item {
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
}

/* Section button grid - main content */
.btn-grid, .footer-grid {
  display: grid;
  row-gap: 1vh;
  column-gap: 2vh;
}

.btn-grid {
  grid-column: 1;
  grid-row: row 2;
  grid-template-columns: repeat(3, 1fr);
}


.btnRecipes > img, .btnPantry > img, .btnHealth > img, .btn
 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border-radius: 15%;
  justify-content: center;
  align-content: center;
}

.btn {
  box-shadow: 0 0 5vh 0 gray;
  background: none;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: none;
  width: 320px; 
  height: 30px;
  border-radius: 0;
}

.btnRecipes {
  grid-column: 1;
}

.btnPantry {
  grid-column: 2;
}

.btnHealth {
  grid-column: 3;
}

/* Section footer - miscal. */
.footer-grid {
  grid-template-columns: repeat(3, 1fr);
}

.footer-text {
  font-size: calc(1vh * 0.8vmin);
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-text a:hover {
  text-decoration: none;
}

.authorMsg {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
}

.footer-contact-banner {
  display: flex;
  font-family: sans-serif;
}

.legal {
  display: flex;
  font-weight: bold;
}