@import "../fonts/NeonNeon.css";

/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 20px #FF1616, 0 0 30px #FF1616, 0 0 30px #000, 0 0 40px #FF1616, 0 0 70px #FF1616, 0 0 80px #FF1616, 0 0 100px #FF1616, 0 0 150px #FF1616;
  }
  to {
    text-shadow: 0 0 3px #ff2323, 0 0 8px #ff2323, 0 0 15px #000, 0 0 20px #ff2323, 0 0 35px #ff2323, 0 0 40px #ff2323, 0 0 50px #ff2323, 0 0 75px #ff2323;
  }
}

/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 20px #FF1616, 0 0 30px #FF1616, 0 0 30px #000, 0 0 40px #FF1616, 0 0 70px #FF1616, 0 0 80px #FF1616, 0 0 100px #FF1616, 0 0 150px #FF1616;
  }
  to {
    text-shadow: 0 0 3px #ff2323, 0 0 8px #ff2323, 0 0 15px #000, 0 0 20px #ff2323, 0 0 35px #ff2323, 0 0 40px #ff2323, 0 0 50px #ff2323, 0 0 75px #ff2323;
  }
}

/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 20px #FF1616, 0 0 30px #FF1616, 0 0 30px #000, 0 0 40px #FF1616, 0 0 70px #FF1616, 0 0 80px #FF1616, 0 0 100px #FF1616, 0 0 150px #FF1616;
  }
  to {
    text-shadow: 0 0 3px #ff2323, 0 0 8px #ff2323, 0 0 15px #000, 0 0 20px #ff2323, 0 0 35px #ff2323, 0 0 40px #ff2323, 0 0 50px #ff2323, 0 0 75px #ff2323;
  }
}


/*glow for webkit*/
@-webkit-keyframes neonBorder {
  from {
    -webkit-transform: translateZ(0);
    box-shadow: 0 0 10px #63BAD9, 0 0 10px #63BAD9, 0 0 20px #000, 0 0 25px #63BAD9, 0 0 25px #63BAD9, 0 0 30px #63BAD9, 0 0 30px #63BAD9, 0 0 30px #63BAD9;
  }
  to {
    -webkit-transform: translateZ(0);
    box-shadow: 0 0 3px #8ACBE3, 0 0 8px #8ACBE3, 0 0 15px #000, 0 0 20px #8ACBE3, 0 0 25px #8ACBE3, 0 0 25px #8ACBE3, 0 0 25px #8ACBE3, 0 0 25px #8ACBE3;
  }
}


/*glow for mozilla*/
@-moz-keyframes neonBorder {
  from {
    -moz-transform: translateZ(0);
    box-shadow: 0 0 10px #63BAD9, 0 0 10px #63BAD9, 0 0 20px #000, 0 0 25px #63BAD9, 0 0 25px #63BAD9, 0 0 30px #63BAD9, 0 0 30px #63BAD9, 0 0 30px #63BAD9;
  }
  to {
    box-shadow: 0 0 3px #8ACBE3, 0 0 8px #8ACBE3, 0 0 15px #000, 0 0 20px #8ACBE3, 0 0 25px #8ACBE3, 0 0 25px #8ACBE3, 0 0 25px #8ACBE3, 0 0 25px #8ACBE3;
  }
}


/*glow*/
@keyframes neonBorder {
  from {
    transform: translateZ(0);
    box-shadow: 0 0 10px #3CA8D0, 0 0 10px #3CA8D0, 0 0 20px #fff, 0 0 25px #3CA8D0, 0 0 25px #3CA8D0, 0 0 30px #3CA8D0, 0 0 30px #3CA8D0, 0 0 30px #3CA8D0;
  }
  to {
    transform: translateZ(0);
    box-shadow: 0 0 3px #D8F6DF, 0 0 8px #D8F6DF, 0 0 15px #fff, 0 0 20px #D8F6DF, 0 0 25px #D8F6DF, 0 0 25px #D8F6DF, 0 0 25px #D8F6DF, 0 0 25px #D8F6DF;
  }
}

