@import "neon-effect.css";

.clock-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin: 1vh;
  border: none;
}

.clock-frame > .clock-time {
  flex: 0 0 35px;
  text-align: center;
  font-weight: normal;
  font-size: calc(4.5em + 4vmin);
  max-width: calc(4.5em + 3vmax);
  margin: 20px 0 20px 0;
  font-family: 'neoneonregular';
}

.clock-time > a {
  color: #FFE045;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.clock-time > a:hover {
  /* color: #FF1177; */
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

  
