@import "neon-effect.css";

.clock-frame {
  height: inherit;
  margin: inherit;
  padding: none;
  border: none;
  /* flex config */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}

/* Text data for time, sets the text related styles */
.clock-frame > .clock-time {
  flex: 0 0 inherit;
  text-align: center;
  font-weight: normal;
  font-size: calc(4.5em + 4vmin);
  max-width: calc(4.5em + 3vmax);
  margin: 4vh 0 4vh 0;
  font-family: 'neoneonregular';
}

/* NEON glow */
.clock-time > a {
  color: #FFE045;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

  
