.settings-btn-frame {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px;
    padding: 10px;
}

.settings-btn {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    text-align: right;
    color: white;
    font-size: calc(1em + 0.5vmin);
    border-radius: 50%;
}

.settings-btn:hover {
    color: red;
    font-size: calc(1em + 1vmin);
}