@import "../fonts/GlacialIndifferenceBold.css";
@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
    background-color: #cfcfcf;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
    margin-top: 100px;
    background-color: #cfcfcf;
    color: black; 
    text-align: center;
    font-family: 'GlacialIndifferenceBold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
  }

  .form-row {
    border-bottom: 1px solid #eee;

  }

  .aligned label {
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    line-height: 1;
  }

  .wide label {
    width: 200px;
  }
}