
@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url('GlacialIndifference-Regular.woff2') format('woff2'),
         url('GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}